/* All your custom CSS goes here */
.container{
    margin-top: -1%;
}
.card{
	margin-bottom: 15%;
}

#body{
  border:solid;
  border-color: #e0f2f1;
  width: 100%;
  height: 100%
}

.idDiv {
  float: left;
  position: relative;
  left: 10px;
  top: 0px;
}

.card-title{
  text-shadow: 0 0 1px #000000;
}


/*.row.grid .cell {
   flex: auto;
  margin-left: 0;
}*/	

@media (min-width: 1000px) {
  .row {
    display: flex;
	  flex-wrap: wrap;
	  align-content: flex-start;
  }

  .container{
		margin:5% auto;
	}
}